// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  width: 700px;
  margin: 50px auto;
  background-color: lightgrey;
  padding: 50px;
  border-radius: 10px;
}

.letters {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.letter {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
  background-color: darkblue;
  border-radius: 5px;
  width: 15px;
  color: white;
  text-align: center;
}

.letters ul {
  padding-left: 0;
}

.link {
  text-decoration: none;
  padding: 10px;
  background-color: #7272db;
  border-radius: 5px;
  color: white;
  transition: 200ms ease;
  &:hover {
    background-color: darkblue;
    color: white;
  }
}
